<footer class="copyright_fbi">
	<div class="footer-text_fbi">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; All rights reserved.</div>
	<div class="footer-text_fbi">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>
	<div class="footer-text_fbi">Website designed by <a href="http://amoody2108.github.io">Alexis Moody</a></div>
</footer>
