<div class="sidebar-widget_fbi">
	<h4 class="sidebar-title_fbi">Featured Author</h4>
	<div class="sidebar-wrapper_fbi">
		
	    <img id="featured-author-image" src="" alt="Featured Author Image">
	    <div class="featured-author-meta_fbi">
		    <h4 id="featured-author-name"></h4>
		    <p id="featured-author-bio"></p>
		</div>
	   <a id="featured-author-link"><div class="button">Read More</div></a>
	</div>
</div>