<div class="navigation_fbi">
    <nav class="nav-wrapper_fbi">
    	<ul>
	        {{#foreach navigation}}
	        <li><a href="{{url absolute="true"}}" class="nav-link_fbi">{{label}}</a></li>
	        {{/foreach}}
	        <!-- End the loop -->
	    </ul>
    </nav>
</div>