<nav class="pagination-wrapper_fbi" role="navigation">

    <a id="prev-pages" href="#">&larr;</a>
	<span id="pagination-list"></span>
	<a id="next-pages" href="#">&rarr;</a>
    
    <div id="page-total" class="pages_fbi">{{pages}}</div>
    <div id="page-current" class="pages_fbi">{{page}}</div>
</nav>


    {{#if next}}
        
    {{/if}}