<div class="sidebar-widget_fbi">
	<h4 class="sidebar-title_fbi">Social Media</h4>
	<div class="sidebar-wrapper_fbi">
		<ul>
			<li class="social-media-link_fbi">
				<a href="{{twitter_url}}">
					<i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
					<h4 class="social-media-title_fbi">Twitter</h4>
				</a>
			</li>
			<li class="social-media-link_fbi">
				<a href="{{facebook_url}}">
					<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
					<h4 class="social-media-title_fbi">Facebook</h4>
				</a>
			</li>
			<li class="social-media-link_fbi">
				<a href="{{@blog.url}}/rss/">
					<i class="fa fa-rss-square fa-3x" aria-hidden="true"></i>
					<h4 class="social-media-title_fbi">RSS</h4>
				</a>
			</li>
			<li class="social-media-link_fbi">
				<a href="/subscribe/">
					<i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
					<h4 class="social-media-title_fbi">Subscribe</h4>
				</a>
			</li>
		</ul>
	</div>
</div>