{{!< default}}

<main class="main_fbi">
{{#post}}
	<article class="{{post_class}}">
		<header class="page-header_fbi">
			<h1 class="page-title_fbi">{{title}}</h1>
		</header>
	</article>
	<div class="article_fbi">
		<section class="page-content_fbi">
			{{content}}
		</section>
	</div>
{{/post}}
</main>
{{> sidebar}}
